@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color: black;
}
section{
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 3%;
}
h1{
    font-weight: bold;
}
p{
    font-weight: 100;
    font-size: 16px;
}
body{
    color: #ffff;
    background-color: rgba(0, 0, 0, 0.918);
}
.conteiner-main{   
    display: flex;
    padding-top: 7.9%;
    padding-left: 1.7%;
}
.conteiner-main > img{
    filter: contrast(1.2);
    height: 230px;
    width: 409px;
    padding-top: 0px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px 1px black; 
    position: relative;
    animation: anime 1.5s ease-in-out infinite alternate-reverse;
}
.text-conteiner-main{
    padding-left: 1.7%;
    padding-top: 10px;
}
.text-h2-conteiner-main{
    padding-top: 10px;
}
.text-sobre-mim{
    padding-top: 25px;
    font-size: 14px;
    width: 780px;
    height: 208;
    box-shadow: none;
}

.img-tecnologias img{
    width: 40px;
    height: 40px;
    margin: 5px;
    filter: contrast(2);
}

.conteiner-sobre{
    display: flex;
    padding: 80px 0 0 25px;
}
.text-h1-conteiner-main h1{
    font-size: 38px;
}
.text-h2-conteiner-main h2{
    font-weight: 100;
}
.tecnologias{
    padding: 6.25rem 0rem 0rem 0rem;
}
.tecnologias h1{
    text-align: center;
    font-weight: 100;
}
.buttons-contato{
    padding: 0 0 0 7.25rem;
}
.buttons-contato button{
    border: none;
    margin: auto;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0px 20px;
    background-color: #292929;
    transition: 1.15s;
}
.buttons-contato button img{
    height: 18px;
    width: 20px;
    align-items: center;
    vertical-align: sub;
}
.button-contato{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 25px 10px 0 0;
}
.button-contato button{
    border-radius: 15px;
    width: 200px;
    height: 50px;
    border-style: none;
    background-color: #292929;
    font-size: 16px;
    font-weight: 700;
    transition: 1.5s;
}
.button-contato button img{
    margin-left: 2px;
    width: 20px;
    height: 20px;
}
.button-contato button:hover{
    background-color: none;
    box-shadow: none;
    transform: scale(1);
}
.buttons-contato button:hover{
    background-color: none;
    box-shadow: none;
    transform: scale(1);
}

@keyframes anime{
    0%{
        top: 0px;
    }100%{
        top: 20px
    }
}

@media(max-width:1200px){
    .conteiner-main{
        flex-direction: column;
        align-items: center;
    }
    .text-conteiner-main{
        padding-top: 25px;
    }
    .buttons-contato{
        padding: 0;
    }
    .tecnologias{
        margin: auto;
    }
    .text-sobre-mim{
        width: 350px;
        padding-bottom: 55px;
    }
    .conteiner-sobre{
        flex-direction: column;
        align-items: center;
        padding-bottom: 55px;
    }
}
@media (max-width:530px){
    .text-h1-conteiner-main h1{
        font-size: 30px;
    }
    .tecnologias h1{
        font-size: 20px;
    }
    .img-tecnologias img{
        width: 35px;
        height: 35px;
    }
    .conteiner-main > img{
        height: 200px;
        width: 330px;
    }

}
@media (max-width:396px) {
    .buttons{
        padding: 0px;
        margin: 0px;
    }
    .text-h1-conteiner-main h1{
        font-size: 25px;
    }
    section{
        padding: 0;
    }
    .conteiner-sobre{
        padding-left: 0.875rem;
    }
    .conteiner-main{   
        padding-left: 0.875rem;
    }

}
@media (min-width:768px) {
    .button-contato button:hover{
        background-color: #8031E7;
        box-shadow: 1px 1px 20px #8031E7;
        transform: scale(1.05);
        border: hidden;
    }
    .buttons-contato button:hover{
        background-color: #8031E7;
        box-shadow: 1px 1px 20px #8031E7;
        transform: scale(1.1);
    }
}

